TAIL_LIMIT=30
VIRTUAL_HOST=bridge.paralipupa.ru
VIRTUAL_PORT=8081
LETSENCRYPT_HOST=bridge.paralipupa.ru
LETSENCRYPT_EMAIL=info@paralipupa.ru


# @max_welcome_bot
TELEGRAM_BOT_TOKEN="8618986629:AAGLEk-TuAeqmKf2mPxHR7I0KSADtqlIDgg"
# @a917kk_bot
# TELEGRAM_BOT_TOKEN="8748116639:AAEH_wcTRBGVQ3eE5myhzGaIMvCcV0aJ-Ds"


# Семья
TELEGRAM_CHAT_ID="-1002125615938"
# Разработка
# TELEGRAM_CHAT_ID="-1002644195573"
# Бохан-Ирк_У-Удэ
# TELEGRAM_CHAT_ID="-1004655879960"


# Семья
MAX_CHAT_ID="-72326392713796"
# Макс-Телеграм
# MAX_CHAT_ID="-72609697391229"
# Бохан-Ирк_У-Удэ
# MAX_CHAT_ID="-68376487157908"
